{% extends "base.html" %}

{% block content %}
<div class="container py-4">

    <!-- SALUDO -->
    <div class="mb-4">
        <h2 class="fw-semibold mb-1">
            Hola, {{ user.first_name|default:user.username }}
        </h2>
        <p class="text-muted mb-0">Resumen de tu inversión</p>
    </div>

    <!-- RESUMEN -->
    <div class="row g-4 mb-4">

        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <p class="text-muted small mb-1">Nº Participaciones de usuario</p>
                    <h4 class="fw-bold mb-0">
                        {{ nav|floatformat:2 }}
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <p class="text-muted small mb-1">NAV (Valor de participación)</p>
                    <h4 class="fw-bold mb-0">
                        {{ nav_actual|floatformat:2 }} €
                    </h4>
                    <small class="{% if resultado >= 0 %}text-success{% else %}text-danger{% endif %}">
                        {{ resultado_pct|floatformat:2 }}
                    </small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <p class="text-muted small mb-1">Capital del usuario</p>
                    <h4 class="fw-bold mb-0 {% if capital_del_usuario >= 0 %}text-success{% else %}text-danger{% endif %}">
                        {{ capital_del_usuario|floatformat:2 }} €
                    </h4>
                </div>
            </div>
        </div>

    </div>

    <!-- ESTADO -->
    <div class="card shadow-sm border-0 mb-4">

            {% if funds %}
        <div class="card border-0 shadow-sm">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th class="ps-4 py-3 text-muted small fw-normal border-0">
                                    Fondo
                                </th>
                                <th class="py-3 text-muted small fw-normal border-0">
                                    Gestor
                                </th>
                                <th class="py-3 text-muted small fw-normal border-0">
                                    Tipo
                                </th>
                                <th class="pe-4 py-3 text-muted small fw-normal border-0 text-end">
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fund in funds %}
                            <tr class="border-top">
                                <!-- Nombre del fondo -->
                                <td class="ps-4 align-middle fw-medium">
                                    <a href="{% url 'funds:detail' fund.pk %}" style="text-decoration: none;" class="text-primary">
                                    {{ fund.name }}
                                    </a>
                                </td>

                                <!-- Gestor -->
                                <td class="align-middle text-muted">
                                    {{ fund.manager|default:"—" }}
                                </td>
                                <td class="align-middle text-muted">
                                    Privado
                                </td>

                                <!-- Acciones -->
                                <td class="pe-4 align-middle text-end">
                                    <a href="{% url 'funds:detail' fund.pk %}"
                                       class="btn btn-sm btn-primary">
                                        Ver productos que forman el fondo
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-light text-muted">
            No hay fondos creados todavía.
        </div>
    {% endif %}

    </div>

    <!-- ACTIVOS -->
    {% if products %}
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
            <h5 class="mb-3">Activos del fondo</h5>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Activo</th>
                        <th>Tipo</th>
                        <th class="text-end">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                    <tr>
                        <td>
                            {{ p.name }}
                            {% if p.ticker %}
                                <span class="text-muted">({{ p.ticker }})</span>
                            {% endif %}
                        </td>
                        <td>{{ p.get_asset_type_display }}</td>
                        <td class="text-end">
                            {{ p.current_price|floatformat:2 }} €
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- MOVIMIENTOS -->
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="mb-3">Últimos movimientos que ha realizado el gestor</h5>


        </div>
    </div>


    <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-">
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Producto</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Precio</th>

            </tr>
        </thead>
        <tbody>
            {% for tx in transactions %}
                <tr>
                    <td>
                        {{ tx.created_at|date:"d/m/Y H:i" }}
                    </td>

                    <td>
                        <span class="badge
                            {% if tx.transaction_type == 'BUY' %}bg-success
                            {% elif tx.transaction_type == 'SELL' %}bg-danger
                            {% elif tx.transaction_type == 'DEPOSIT' %}bg-primary
                            {% elif tx.transaction_type == 'WITHDRAW' %}bg-warning text-dark
                            {% endif %}
                        ">
                            {{ tx.get_transaction_type_display }}
                        </span>
                    </td>

                    <td>
                        {{ tx.product.name|default:"—" }}
                    </td>

                    <td class="text-end">
                        {{ tx.quantity }}
                    </td>

                    <td class="text-end">
                        {{ tx.price }} €
                    </td>


                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-muted py-4">
                        No hay transacciones registradas
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


</div>
{% endblock %}
